<nav class="navbar fixed-bottom navbar-light bg-light" style="background-color: #E5C7CB !important;">
  <div class="btn-group navCenter" role="group">
    <!-- navButton in style.css -->
    <button onclick="location.href='/home'" type="button" class="btn btn-secondary navButton">Today</button>
    <button onclick="location.href='/overview'" type="button" class="btn btn-secondary navButton">Overview</button>
    <button onclick="location.href='/addMed'" type="button" class="btn btn-secondary navButton">Add</button>
    <button onclick="location.href='/profile'" type="button" class="btn btn-secondary navButton">Profile</button>
  </div>
</nav>
