<!-- Description: 404.handlebars displays an error message whenever the
		user reaches a dead end, or inputs an invalid url/medicine.
-->

<html>

<head>
	{{>header}}
	<script src="js/newMed.js"></script>
</head>

<body>
	<div class="center-container">
		<h1>404</h1>

		<p> Page not found! </p>

	{{>footer}}
</body>

</html>
