<html>

<head>

	{{>header}}

	<script src="js/newMed.js"></script>
</head>

<body>
	<div class="center-container">
		<h1>404</h1>

		<p> Page not found! </p>


	<div id="footer"></div>
</body>

</html>
