<html>

<head>
	<link rel="import" href="header.html">
	<script src="js/newMed.js"></script>

</head>

<body>
	<div class="center-container">
		<h1>Add New Medicine</h1>

		<p>Name</p>
		<input id="medNameBox" type="text" placeholder="" />

		<p>Time</p>
		<div class="btn-toolbar" role="group">
			<button type="button" class="btn btn-secondary">MON</button>
			<button type="button" class="btn btn-secondary">TUE</button>
			<button type="button" class="btn btn-secondary">WED</button>
			<button type="button" class="btn btn-secondary">THU</button>
			<button type="button" class="btn btn-secondary">FRI</button>
			<button type="button" class="btn btn-secondary">SAT</button>
			<button type="button" class="btn btn-secondary">SUN</button>
		</div>

		<p>Description</p>
		<input id="medDescBox" type="text" placeholder="" />

		<p>Side effects	</p>
		<input  id="medSideEffectsBox" type="text" placeholder="" />

		<p>Dosage	</p>
		<input  id="medDosageBox" type="text" placeholder="" />

		<button type="button" id="addNewMed">Add</button>
	</div>


	<nav class="navbar fixed-bottom navbar-light bg-light">
		<div class="btn-group navCenter" role="group">
			<button onclick="location.href='/addMed'" type="button" class="btn btn-secondary">+</button>
			<!-- <button onclick="location.href='/profile'" type="button" class="btn btn-secondary">Overview</button> -->
			<button onclick="location.href='/home'" type="button" class="btn btn-secondary">Today</button>
			<button onclick="location.href='/profile'" type="button" class="btn btn-secondary">Profile</button>
		</div>
	</nav>
</body>

</html>
