<html>

<head>
	{{>header}}
	<script src="js/newMed.js"></script>
	<!-- <script src="handlebars-v4.1.2.js"></script> -->
</head>

<body>
	<div class="center-container">
		<h1 class="first">Add New Medicine</h1>
		<!-- <form> -->
			<div class="card bg-light mb-3">
				<h5 class="card-header">Name of Medication</h5>
				<div class="card-body">
					<input class="card-text form-control" id="medNameBox" placeholder="Medication Name" required>
				</div>
			</div>

			<div class="card bg-light mb-3">
				<h5 class="card-header">Description</h5>
				<div class="card-body">
					<input class="card-text big-text-box" id="medDescBox" />
					<hr />
					<button type="button" id="autofillMed">Auto-import Description</button>
				</div>
			</div>

			<div class="card bg-light mb-3">
				<h5 class="card-header">Side Effects</h5>
				<div class="card-body">
					<input class="card-text big-text-box" id="medSideEffectsBox" />
				</div>
			</div>

			<div class="card bg-light mb-3">
				<h5 class="card-header">Dosage</h5>
				<div class="card-body">
					<input class="card-text" id="medDosageBox" required />
				</div>
			</div>

			<div class="card bg-light mb-3">
				<h5 class="card-header">Time</h5>
				<!-- <script id="handlebars-demo" type="text/x-handlebars-template"> -->
				<div class="card-body">
					<div class="weekday-header">
						<h6>Monday</h6>
						<input type="time" id="medTimeMon" value="12:00" >
						<button id="addToMon" style="margin-bottom: 10%;">ADD</button>

						<h6>Tuesday</h6>
						<input type="time" id="medTimeTue" value="12:00" >
						<button id="addToTue" style="margin-bottom: 10%;">ADD</button>

						<h6>Wednesday</h6>
						<input type="time" id="medTimeWed" value="12:00" >
						<button id="addToWed" style="margin-bottom: 10%;">ADD</button>

						<h6>Thursday</h6>
						<input type="time" id="medTimeThu" value="12:00" >
						<button id="addToThu" style="margin-bottom: 10%;">ADD</button>

						<h6>Friday</h6>
						<input type="time" id="medTimeFri" value="12:00" >
						<button id="addToFri" style="margin-bottom: 10%;">ADD</button>

						<h6>Saturday</h6>
						<input type="time" id="medTimeSat" value="12:00" >
						<button id="addToSat" style="margin-bottom: 10%;">ADD</button>

						<h6>Sunday</h6>
						<input type="time" id="medTimeSun" value="12:00" >
						<button id="addToSun">ADD</button>
						<!-- <button class="right-align clickable" data-toggle="collapse" href="#collapseMon" role="button" aria-expanded="false">ADD</button> -->
					</div> <br>
					<!-- <div class="collapse" id="collapseMon">
						<div class="input-group">
							<input type="time" id="medTime" value="12:00" style="margin: auto;">
						</div>
					</div> -->
				</div>
			</div>

			<!-- <button id="addNewMed" type="submit">ADD</button> -->
		<!-- </form> -->
	</div>

	{{>footer}}
</body>

</html>
