<html>

<head>
	<link rel="import" href="header.html">
	<script src="js/newMed.js"></script>
</head>

<body>
	<div class="center-container">
		<h1>Add New Medicine</h1>


		<div class="card bg-light mb-3">
			<h5 class="card-header">Name of Medication</h5>
			<div class="card-body">
				<input class="card-text" id="medNameBox" />
			</div>
		</div>


		<div class="card bg-light mb-3">
			<h5 class="card-header">Time</h5>
			<div class="card-body">
				<div class="weekday-header"> <div class="left-align">Sunday</div>  <div class="right-align" id="add-sun">+ </div> </div> <br>

				<hr>
				<div class="weekday-header"> <div class="left-align">Monday</div>  <div class="right-align" id="add-mon">+ </div> </div> <br>

				<hr>
				<div class="weekday-header"> <div class="left-align">Tuesday</div>  <div class="right-align" id="add-tue">+ </div> </div> <br>

				<hr>
				<div class="weekday-header"> <div class="left-align">Wednesday</div>  <div class="right-align" id="add-wed">+ </div> </div> <br>

				<hr>
				<div class="weekday-header"> <div class="left-align">Thursday</div>  <div class="right-align" id="add-thur">+ </div> </div> <br>

				<hr>
				<div class="weekday-header"> <div class="left-align">Friday</div>  <div class="right-align" id="add-fri">+ </div> </div> <br>

				<hr>
				<div class="weekday-header"> <div class="left-align">Saturday</div>  <div class="right-align" id="add-sat">+ </div> </div> <br>

				<hr>
			</div>

<!--
		<p>Time</p>
		<div class="btn-toolbar" role="group">
			<button type="button" class="btn btn-secondary">MON</button>
			<button type="button" class="btn btn-secondary">TUE</button>
			<button type="button" class="btn btn-secondary">WED</button>
			<button type="button" class="btn btn-secondary">THU</button>
			<button type="button" class="btn btn-secondary">FRI</button>
			<button type="button" class="btn btn-secondary">SAT</button>
			<button type="button" class="btn btn-secondary">SUN</button>
		</div> -->

		<div class="card bg-light mb-3">
			<h5 class="card-header">Description</h5>
			<div class="card-body">
				<input class="card-text big-text-box" id="medDescBox" />
			</div>
		</div>

		<div class="card bg-light mb-3">
			<h5 class="card-header">Side Effects</h5>
			<div class="card-body">
				<input class="card-text big-text-box" id="medSideEffectsBox" />
			</div>
		</div>


		<div class="card bg-light mb-3">
			<h5 class="card-header">Dosage</h5>
			<div class="card-body">
				<input class="card-text" id="medDosageBox" />
			</div>
		</div>

		<p>Dosage	</p>
		<input  id="medDosageBox" type="text" placeholder="" />

		<button type="button" id="addNewMed">Add</button>
	</div>


	<div id="footer"></div>
</body>

</html>
