<html>

<head>
	{{>header}}
</head>

	<body>
		<div class="center-container">
			<h1> Tuesday Medication</h1>
			<div class="main-content">
				<button  onclick="location.href='/medInfo'" type="button">Advil</button>
				<button  onclick="location.href='/medInfo'" type="button">Advil</button>
				<button  onclick="location.href='/medInfo'" type="button">Advil</button>
			</div>

		</div>

	</body>


	{{>footer}}
</html>
