<!-- Description: day.handlebars provides a placeholder for medicinal information
		 information in case the user provides an incorrect date.
-->

<html>
<head>
	{{>header}}
</head>

	<body>
		<div class="center-container">
			<div class="main-content">
				<button  onclick="location.href='/medInfo'" type="button">Advil</button>
				<button  onclick="location.href='/medInfo'" type="button">Advil</button>
				<button  onclick="location.href='/medInfo'" type="button">Advil</button>
			</div>

		</div>

	</body>

	{{>footer}}
</html>
