<html>

<head>
	{{>header}}
</head>

	<body>
		<div class="center-container">
			<h1> Tuesday Medication</h1>
			<button  onclick="location.href='/medInfo'" type="button">Advil</button>
			<button  onclick="location.href='/medInfo'" type="button">Advil</button>
			<button  onclick="location.href='/medInfo'" type="button">Advil</button>


		</div>

	</body>


	{{>footer}}
</html>
