<html>

<head>
	{{>header}}
	<script src="js/home.js"></script>
</head>

<body>
	<div class="center-container">
		<h1><span id="today-date"></span> Medication</h1>
		<div id="med-today"> </div>
	</div>
	<div id="footer"></div>
</body>



</html>
