<!-- Homepage that displays today's date and medications to take -->

<html>
<head>
	{{>header}}
	<script src="/js/home.js"></script>
</head>
<body>

	<div class="center-container">
		<h1>
			<!-- Call today's date from home.js -->
			<span id="today-date"> </span>
			Medication
		</h1>


		<!-- <h3> Medications </h3> -->
		<div id="med-today" class="main-content"> </div>
	</div>

	<!-- Handle a case for other days than today -->
	<div id="day" style="display: none;">{{day}}</div>
	{{>footer}}
</body>

</html>
