<html>

<head>
	{{>header}}
	<script src="/js/home.js"></script>
</head>

<body>

	<div class="center-container">
		<h1 class="first"><span id="today-date"></span> Medication</h1>


		<!-- <h3> Medications </h3> -->
		<div id="med-today"> </div>
	</div>

	<div id="day" style="display: none;">{{day}}</div>
	{{>footer}}
</body>

</html>
