<html>

<head>
	{{>header}}
	<script src="js/home.js"></script>
		
</head>

<style>
	body{
		background-color: #E2C8CB
	}
</style>

<body>

	<div class="center-container">
		<h1 class="first"><span id="today-date"></span> Medication</h1>


		<!-- <h3> Medications </h3> -->
		<div id="med-today"> </div>


		<!-- <div onclick="location.href='/medInfo'" class="card bg-light mb-3">
			<h5 class="card-header" id="med-today"></h5>
			<div class="card-body">
				<img class="card" src="images/dog.jpg" alt="dog">
				<p class="card-text">Mondays at 3PM</p>
			</div>
		</div> -->



		<!-- <div onclick="location.href='/medInfo'" class="card bg-light mb-3">
			<h5 class="card-header">Advil</h5>
			<div class="card-body">
				<img class="card" src="images/dog.jpg" alt="dog">
				<p class="card-text">Mondays at 3PM</p>
			</div>
		</div> -->

	</div>

	<div id="footer"></div>
</body>



</html>
