<html>

<head>
	{{>header}}
</head>


<body>
	<div class="center-container">
		<h1>Today Medication</h1>

		<div onclick="location.href='/medInfo'" class="card bg-light mb-3" style="max-width: 18rem;">
			<h5 class="card-header">Advil</h5>
			<div class="card-body">
				<img class="card" src="images/dog.jpg" alt="dog">
				<p class="card-text">Mondays at 3PM</p>
			</div>
		</div>
		<div onclick="location.href='/medInfo'" class="card bg-light mb-3" style="max-width: 18rem;">
			<h5 class="card-header">Advil</h5>
			<div class="card-body">
				<img class="card" src="images/dog.jpg" alt="dog">
				<p class="card-text">Mondays at 3PM</p>
			</div>
		</div>

	</div>

	<div id="footer"></div>
</body>


</html>
