<html>

<head>
	{{>header}}
</head>

<body>
	<h1>Welcome to Medilarm</h1>
		<div class="login">
			<div class="form-group">
				<label>Username</label>
				<input class="form-control" placeholder="Enter email">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input class="form-control" placeholder="Password">
			</div>
			<button onclick="location.href='/home'" type="submit" class="btn btn-primary">Login</button>
		</div>

	<div class="signup">
		<label>New?</label> </br>
		<button onclick="location.href='/signup'" type="submit" class="btn btn-primary">Sign Up</button>
	</div>
</body>

</html>
