<html>
<head>
	<link rel="import" href="header.html">
</head>


<body>
	<div class="center-container">
		<h1>Advil</h1>
		<p>Overview</p>
		<div>
			<p>Monday at 3pm</p>
			<p>Friday at 3pm</p>
		</div>

		<div>
			<p>Pain Reliever that tasts like candy!</p>
		</div>

		<div>
			<p>Side effects</p>
		</div>
	</div>
	<!-- <button  onclick="location.href='/signup'" type="button">Create</button> -->

	<div id="footer"></div>
</body>

</html>
