<html>
<head>
	<link rel="import" href="header.html">
</head>


<body>
	<div class="center-container">
		<h1>Advil</h1>
		<p>Overview</p>
		<div>
			<p>Monday at 3pm</p>
			<p>Friday at 3pm</p>
		</div>

		<div>
			<p>Pain Reliever that tasts like candy!</p>
		</div>

		<div>
			<p>Side effects</p>
		</div>
	</div>
	<!-- <button  onclick="location.href='/signup'" type="button">Create</button> -->
	<nav class="navbar fixed-bottom navbar-light bg-light">
		<div class="btn-group navCenter" role="group">
			<button onclick="location.href='/addMed'" type="button" class="btn btn-secondary">+</button>
			<!-- <button onclick="location.href='/profile'" type="button" class="btn btn-secondary">Overview</button> -->
			<button onclick="location.href='/home'" type="button" class="btn btn-secondary">Today</button>
			<button onclick="location.href='/profile'" type="button" class="btn btn-secondary">Profile</button>
		</div>
	</nav>
</body>

</html>
