<html>
<head>

	{{>header}}
	
	<script src="/js/medInfo.js"></script>

</head>

<body>
	<div class="center-container">

		<h1 id="medName">{{med}}</h1>

		<div class="card mb-3">
			<div id="medDates"> </div>
			<div id="medDosage"> </div>
			<div id="medDesc"> </div>
			<div id="medSideEffects"> </div>
		</div>

	</div>

	{{>footer}}

</body>

</html>
