<html>
<head>
	{{>header}}

	<script src="/js/medInfo.js"></script>

</head>

<body>
	<div class="center-container">
		<h1 id="medName">{{med}}</h1>
		<div>
			<div id="medDates"> </div>
			<div id="medDosage"> </div>
			<div id="medDesc"> </div>
			<div id="medSideEffects"> </div>
		</div>



			<!-- <h5 class="card-header">Consumption Times</h5>
			<div class="card-body">
				<div class="weekday-header"> <div class="left-align">Monday at 3pm</div> </div> <br>
			</div> -->

			<!-- <h5 class="card-header">Description</h5>
			<div class="card-body">
				<p class="card-text">Pain Reliever that tasts like candy!</p>
			</div> -->


			<!-- <h5 class="card-header">Side Effects</h5>
			<div class="card-body">
				<p class="card-text">Death</p>
			</div> -->

	</div>

	{{>footer}}



</body>

</html>
