<!-- Description: medInfo.handlebars contains the baseline for basic medicinal display.
		 It provides the core HTML content, such as cards for the date, dosage, description
		 and side effects. It then relies on medInfo.js to import the data from Firebase.
-->

<html>
<head>
	{{>header}}
	<script src="/js/medInfo.js"></script>
</head>

<body>
	<div class="center-container">

		<h1 id="medName">{{med}}</h1>

		<div class="main-content">
				<div id="medDates"> </div>
				<div id="medDosage"> </div>
				<div id="medDesc"> </div>
				<div id="medSideEffects"> </div>
			</div>
		</div>

	</div>

	{{>footer}}
</body>

</html>
