<!-- Description: overview.handlebars handles the HTML skeleton of the overview
		 page. It contains a pill box outline, with set days that the user can press.
		 It also includes several cards which display the overall medicine taken by the user.
		 Button clicks are handled by overview.js
-->

<html>
<head>
	{{>header}}
	<script src="js/overview.js"></script>
</head>

<body>
	<!-- A medicine box with clickable dates where each button navigates to its date page -->
	<div class="center-container" id="main-content">
		<h1 class="first header"> Overview </h1>
		<div class="btn-group-vertical medicine-case">
			<div class="days">
				<button type="button" class="btn day-button" id="Monday">MON</button>
			</div>
			<div class="days">
				<button type="button" class="btn day-button" id="Tuesday">TUE</button>
			</div>
			<div class="days">
				<button type="button" class="btn day-button" id="Wednesday">WED</button>
			</div>
			<div class="days">
				<button type="button" class="btn day-button" id="Thursday">THU</button>
			</div>
			<div class="days">
				<button type="button" class="btn day-button" id="Friday">FRI</button>
			</div>
			<div class="days">
				<button type="button" class="btn day-button" id="Saturday">SAT</button>
			</div>
			<div class="days">
				<button type="button" class="btn day-button" id="Sunday">SUN</button>
			</div>
		</div>
	</div>

	<!-- A list of all medications sorted by date -->
	<div class="main-content">
		<div>
			<hr>
			<!-- Populate medicine -->
			<h3> Overview </h3>
			<h4 class="card-header"> Monday </h4>
			<pre id="med-mon"> </pre>
			<h4 class="card-header"> Tuesday </h4>
			<pre id="med-tue"> </pre>
			<h4 class="card-header"> Wednesday </h4>
			<pre id="med-wed"> </pre>
			<h4 class="card-header"> Thursday </h4>
			<pre id="med-thu"> </pre>
			<h4 class="card-header"> Friday </h4>
			<pre id="med-fri"> </pre>
			<h4 class="card-header"> Saturday </h4>
			<pre id="med-sat"> </pre>
			<h4 class="card-header"> Sunday </h4>
			<pre id="med-sun"> </pre>

			<!-- <pre id="user-med-schedule"> -->
		</div>
	</div>


	{{>footer}}
</body>

</html>
