<html>
<head>
	{{>header}}
	<script src="js/profile.js"></script>
</head>


<body>
	<div class="center-container">
		<h1>Profile</h1>
		<!-- User Image -->
 		<div id="circular-div"><img src="images/cat.jpg" alt="Avatar" id="profilePhoto"></div>
		<!-- User Name -->
		<h2 id="user-name">Iron Man <ion-icon class="clickable" name="create"></ion-icon></h2>

		<div class="main-content">
			<!-- Account Info -->
			<div id="accountInfo">
			<hr>

			<h3> Account  </h3>
			<br>
			<!-- Phone Number -->
			<h5 id="user-name">Phone Number: </h5>
			<p>888-888-8888 <ion-icon class="clickable" name="create"></ion-icon></p>

			<!-- Email -->
			<h5 id="user-name">Email: </h5>
			<p>hello@gmail.com <ion-icon class="clickable" name="create"></ion-icon></p>

			</div>

			<div>
				<hr>
				<!-- Populate medicine -->
				<h3> Medications </h3>
				<pre id="user-info">
			</div>

			</div>
		</div>

	<!-- <button  onclick="location.href='/signup'" type="button">Create</button> -->
	<div id="footer"></div>
</body>

</html>
