<html>
<head>
	{{>header}}
	<script src="js/profile.js"></script>
</head>


<body>
	<div class="center-container">
		<h1 class="first">Profile</h1>
		<!-- User Image -->
 		<div id="circular-div"><img src="images/cat.jpg" alt="Avatar" id="profilePhoto"></div>
		<!-- User Name -->
		<h2><div id="userName" style="display:inline"> Name </div> <ion-icon class="clickable"  id="userNameClick"name="create"></ion-icon></h2>

		<div class="main-content">
			<!-- Populate Account Info -->
				<div id="accountInfo">
				<hr>

				<h3> Account  </h3>
				<br>
				<!-- Phone Number -->
				<h5>Phone Number: </h5>
				<p> <div id="phone" style="display: inline"> ###-###-#### </div> <ion-icon class="clickable" id="phoneClick" name="create"></ion-icon></p>

				<!-- Email -->
				<h5>Email: </h5>
				<p> <div id="email" style="display: inline">  email@email.com </div> <ion-icon class="clickable" id="emailClick" name="create"></ion-icon></p>
				</div>
				<hr>
			<!-- Populate medicine -->
				<h3> Medications </h3>
				<br>
				<div id="user-info"> </div>

		</div>

	<!-- <button  onclick="location.href='/signup'" type="button">Create</button> -->
	{{>footer}}
</body>

</html>
