<html>
<head>
	{{>header}}
	<script src="js/profile.js"></script>
</head>


<body>
	<div class="center-container">
		<h1>Profile</h1>
		<p id="user-name">Iron Man</p>
		<div>

			Here is a list of your medications:
			<pre id="user-info">  </div>

<!--
			<div class="card bg-light mb-3">
				<h5 class="card-header">Dosage</h5>
				<div class="card-body">
					<input class="card-text" id="medDosageBox" />
				</div>
			</div> -->


			<!-- <div>
				<p>MON <button onclick="location.href='/addMed'" type="button">+</button> </p>
					<p>Advil 3PM </p>
			</div>
			<div>
				<p>TUE <button onclick="location.href='/addMed'" type="button">+</button> </p>
					<p>Advil 3PM </p>
			</div>
			<div>
				<p>WED <button onclick="location.href='/addMed'" type="button">+</button> </p>
					<p>Advil 3PM </p>
			</div>
			<div>
				<p>THU <button onclick="location.href='/addMed'" type="button">+</button> </p>
					<p>Advil 3PM </p>
			</div>
			<div>
				<p>FRI <button onclick="location.href='/addMed'" type="button">+</button> </p>
					<p>Advil 3PM </p>
			</div>
			<div>
				<p>SAT <button onclick="location.href='/addMed'" type="button">+</button> </p>
					<p>Advil 3PM </p>
			</div>
			<div>
				<p>SUN <button onclick="location.href='/addMed'" type="button">+</button> </p>
					<p>Advil 3PM </p>
			</div> -->

		</div>
	</div>

	<!-- <button  onclick="location.href='/signup'" type="button">Create</button> -->
	<div id="footer"></div>
</body>

</html>
