<!-- Description: signup.handlebars provides the baseline skeleton for
		 the sign-up page. This includes several input elements for the user to
		 type their information, as well as a button for form submission.
		 The specific actions are then handled by signup.js.
-->

<html>
<head>
	{{>header}}
	<script src="js/signup.js"></script>
</head>

<body>
	<div class="center-container">
		<h1>New Account</h1>
		<div class="login">
			<input id="userName" class="form-control user-input" placeholder="Full Name">
			<input id="userEmail" class="form-control user-input" placeholder="Email Address">
			<input id="userPW" class="form-control user-input" placeholder="Password">
			<input id="userPhone" class="form-control user-input" placeholder="Phone Number">
			<button id="signUp" onclick="location.href='/profile'" type="submit" class="user-btn">Create</button>
		</div>
	</div>
</body>

</html>
