<!-- Sign up page where user can put their credentials to sign up -->
<html>
<head>
	{{>header}}
	<script src="js/signup.js"></script>
</head>

<body>
	<div class="center-container">
		<h1>New Account</h1>
		<h2>Never skip a pill again</h2>
		<div class="login">
			<input id="userName" class="form-control user-input" placeholder="Full Name">
			<input id="userEmail" class="form-control user-input" placeholder="Email Address">
			<input id="userPW" class="form-control user-input" placeholder="Password">
			<input id="userPhone" class="form-control user-input" placeholder="123-456-7890">
			<button id="signUp" onclick="location.href='/home'" type="submit" class="user-btn">Create</button>
		</div>
	</div>
</body>

</html>
