<html>

<head>
	{{>header}}
	<script src="js/signup.js"></script>
</head>

<body>
	<div class="center-container">
		<h1>New Account</h1>
		<div class="login">
			<div class="form-group">
				<label>Name</label>
				<input id="userName" class="form-control" placeholder="Full Name">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input id="userPW" class="form-control" placeholder="Password">
			</div>
			<div class="form-group">
				<label>Phone Number</label>
				<input id="userPhone" class="form-control" placeholder="123-456-7890">
			</div>
			<button id="signUp" onclick="location.href='/home'" type="submit" class="btn btn-primary">Create</button>
		</div>
	</div>


</body>

</html>
