body {
    text-align: center;
    padding-bottom: 100px;
}

.mainpageheader{
  font-style: italic;
}
.add-date{
  width: 10%;
}
h1 {
		padding: 30px;
}

label {
		font-size: 18px;
}

/* index page CSS */
.login {
	 width: 30%;
		margin: auto;
    text-align: center;
}

.signup {
		margin-top: 5%;
    text-align: center;
}

img.card {
		width:50px;
		height:50px;
		display:inline;
}
.navCenter {
	margin: auto;
}

.center-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0px;
	left: 0px;
}

.big-text-box{
  height: 50px;
}

.left-align{
  float: left;
}

.right-align{
  float: right;
}


.clickable {
  font-weight: bold;
  cursor: pointer ;
}

.main-content {
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
}

#today-date {
   font-weight: bold;
   font-style: italic;
}
#accountInfo {
  width: 100%;
  justify-content: flex-start;
}

#profilePhoto{
  width: auto;
  height: 200px;
}

#circular-div {
  overflow: hidden;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

ion-icon {
  font-size: 70%;
}

.days {
  padding: 10%;
  width: 90%;
  margin: auto;
}

.medicine-case{
  background-color: pink;
  width: 15%;
  display: inline-block;
  border-radius: 25%;
  padding-top: 3%;
  padding-bottom: 3%;
}
.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.day-button{
  background-color: white;
}
