/* Team Endgame Style */
/* *************************************************************** */
/* General Body Structure */
body {
  text-align: center;
  margin: 0;
  background-color: #E2C8CB !important;
  padding-bottom: 100px;
  font-family: 'Open Sans', sans-serif;
}

/* Page Header */
h1 {
  padding: 30px;
  font-family: 'Sansita', sans-serif !important;
  font-size: 400% !important;
}

/* Sub-header */
h2 {
  padding-bottom: 5%;
  font-family: 'Sansita', sans-serif !important;
  font-size: 150% !important;
}

/* *************************************************************** */
/* *************************************************************** */
/* Login Page Elements */
.login {
  width: 25%;
  margin: auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

/* Buttons for submission */
.user-btn {
  background-color: #370B1D;
  border-color: white;
  color: white;
  font-weight: bold;
  border-radius: 8%;
  width: 40%;
  padding: 2%;
  margin-top: 5%;
  margin-bottom: 15%;
}

.user-btn:hover {
  background-color: #FCF0FF;
  color: #370B1D;
}

/* *************************************************************** */


/* *************************************************************** */
/* Add Med Page Elements */
.addMedContainer {
  width: 30%;
  margin: auto;
}

.medToAdd {
  width: 50%;
  margin-top: 20%;
  float: right;
}

/* *************************************************************** */

.btn btn-primary {
  background-color: #4CAF50 !important;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}

user-info label {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.user-input {
  margin-bottom: 8%;
}

img.card {
  width: 50px;
  height: 50px;
  display: inline;
}

.navCenter {
  margin: auto;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0px;
  /* left: 0px; */
}

.big-text-box {
  height: 50px;
}

.left-align {
  float: left;
}

.right-align {
  float: right;
}

.clickable {
  /* font-weight: bold; */
  cursor: pointer;
}

.main-content {
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
}

#addTo {
  margin-bottom: 10%;
}

#today-date {
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

#accountInfo {
  width: 100%;
  justify-content: flex-start;
}

#profilePhoto {
  width: auto;
  height: 200px;
}

#circular-div {
  overflow: hidden;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

ion-icon {
  font-size: 70%;
  font-family: 'Open Sans', sans-serif;
}

.days {
  padding: 10%;
  width: 90%;
  margin: auto;
}

.medicine-case {
  background-color: pink;
  width: 15%;
  display: inline-block;
  border-radius: 25%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.button:hover {
  background-color: #4CAF50;
  /* Green */
  color: white;
}

.day-button {
  background-color: white;
}

.navButton{
  background-color: #3D243E !important;
}
